@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/mixins" as *;

//ok
.edit-item-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button-save {
    @include button-icon-white;
    background-image: URL("../../assets/images/save-black.svg");
    margin-right: 3.5rem;
  }

  &__error {
    @include error-message-form;
    display: block;
    margin-top: 0;
  }
}

//ok
.edit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    flex: 1;
    text-align: left;
  }

  &__button-edit {
    @include button-icon-white;
    background-image: URL("../../assets/images/edit-black.svg");
  }

  &__button-delete {
    background-image: URL("../../assets/images/delete-cross.svg");
    @include icon;
    background-size: 2.1rem;
    margin-right: 1.5rem;
  }
}
