@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-list-items {
  margin: 1rem;

  &__list {
    margin-left: -1.6rem;
    line-height: 3rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background-image: URL("../../assets/images/edit-pink.svg");
    @include button-icon;
  }
}

.add-list-items {
  text-align: center;
}

.add-list-items-form {
  &__wrapper {
    display: flex;
  }

  &__input {
    width: 100%;
    margin-right: 1rem;
    @include input-field;
    &--inactive {
      width: 100%;
      margin-right: 1rem;
      @include input-field;
    }
  }

  &__button {
    background-image: URL("../../assets/images/save.svg");
    @include button-icon;
    background-size: 2.1rem;

    &--inactive {
      background-image: URL("../../assets/images/save-grey.svg");
      @include button-icon;
      background-size: 2.1rem;
    }
  }
}

.delete-list-item-button {
  background-image: URL("../../assets/images/delete-cross.svg");
  @include icon;
  background-size: 2.1rem;
}

.edit-list-items-button {
  @include button-icon-white;
  background-image: URL("../../assets/images/edit-black.svg");
  margin-right: 1.5rem;
}

.save-edit-list-item-button {
  @include button-icon-white;
  background-image: URL("../../assets/images/save-black.svg");
  margin-right: 1.5rem;
}
