@use "../../styles/partials/variables" as *;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin button {
  background-color: $primary1;
  color: $primary2;
  font-family: "Antonio";
  border: none;
  width: 10rem;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  margin: 1rem;
}

@mixin button-icon {
  background-color: $primary2;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  flex-shrink: 0;
}

@mixin button-icon-white {
  background-color: $primary2;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  flex-shrink: 0;
}

@mixin icon {
  background-color: $primary2;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  flex-shrink: 0;
}

@mixin input-field {
  padding-left: 0.5rem;
  height: 2.5rem;
  border: $border;
  border-radius: 4px;
}

@mixin input-field-inactive {
  padding-left: 0.5rem;
  height: 2.5rem;
  border: $border-inactive;
  border-radius: 4px;
}

@mixin bottom-navigation {
  background-color: $primary1;
  text-align: center;
  padding-top: 0.6rem;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  height: 3.2rem;

  @include desktop {
    width: 304px;
    background-color: $primary2;
  }
}

@mixin form-headers {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Antonio";
  font-size: 1.8rem;
}

@mixin cancel-button {
  background-color: $primary2;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
}

@mixin error-message-form {
  font-size: 0.7rem;
  color: $warning;
  text-align: left;
  margin-top: 0.5rem;
}
