.edit-list-items {
  margin: 0rem 1rem 1rem 0rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .edit-list-items {
    margin: 0rem 0rem 0rem 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .edit-list-items {
    margin: 0rem 1rem 1rem 1rem;
  }
}
.edit-list-items__list {
  margin-left: -1.6rem;
  padding-left: 2.6rem;
}
@media screen and (min-width: 768px) {
  .edit-list-items__list {
    padding-left: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .edit-list-items__list {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .add-list-items-form {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .add-list-items-form {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
.add-list-items-form__wrapper {
  display: flex;
}
.add-list-items-form__input {
  width: 100%;
  margin-right: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .add-list-items-form__input {
    margin-top: 0rem;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__input {
    margin-top: 0rem;
    border: 3px solid black;
    height: 2.5rem;
  }
}
.add-list-items-form__input--inactive {
  width: 100%;
  margin-right: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .add-list-items-form__input--inactive {
    margin-top: 0rem;
    margin-left: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__input--inactive {
    margin-top: 0rem;
    border: 3px solid black;
    height: 2.5rem;
  }
}
.add-list-items-form__button {
  background-image: URL("../../assets/images/save-black.svg");
  background-color: white;
  background-size: 0.9rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  flex-shrink: 0;
  cursor: pointer;
  width: 1rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__button {
    background-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .add-list-items-form__button {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__button {
    margin-top: 0.5rem;
  }
}
.add-list-items-form__button--inactive {
  background-image: URL("../../assets/images/save-grey.svg");
  background-color: white;
  background-size: 0.9rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  flex-shrink: 0;
  cursor: pointer;
  width: 1rem;
  height: 1.5rem;
  margin-top: 0.2rem;
  cursor: default;
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__button--inactive {
    background-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .add-list-items-form__button--inactive {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__button--inactive {
    margin-top: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .add-list-items-form__button {
    margin-top: 0.3rem;
  }
}/*# sourceMappingURL=AddEditListItems.css.map */