@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notebook2 {
  overflow: auto;
  height: 100vh;
  max-width: 100vw;

  @include tablet {
    display: flex;
  }

  &__nav-desktop-wrapper {
    position: sticky;
    top: 0rem;
    background-color: $primary2;
    box-shadow: 1px 1px 10px #f7f7f7;

    @include tablet {
      height: 3rem;
      padding-right: 1rem;
      min-height: 100vh;
      width: 14rem;
      margin-bottom: 1rem;
    }

    @include desktop {
      width: 20rem;
    }
  }

  &__nav {
    display: none;
    @include nav;

    @include tablet {
      display: block;
    }
  }

  &__bottom-nav-desk {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__main {
    margin: 6rem 1rem 1rem 1rem;
    height: 100%;

    @include tablet {
      margin: 4rem 8rem 2rem 8rem;
      flex-grow: 1;
    }

    @include desktop {
      margin: 5rem 10rem 5rem 10rem;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__whitespace {
    height: 1rem;

    @include desktop {
      height: 4rem;
    }
  }

  &__bottom-nav-mobile {
    display: block;
    position: sticky;
    bottom: 0px;

    @include tablet {
      display: none;
    }
  }
}
