@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.top-navigation {
  border-bottom: 3px solid $primary1;
  background-color: $primary2;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  padding-left: 1rem;
  position: sticky;
  top: 3.5rem;
  text-align: left;

  @include tablet {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include desktop {
    width: 304px;
    text-align: center;
    box-shadow: 1px 1px 10px -10px #f5f5f5;
    padding-left: 0rem;
    line-height: 3rem;
  }
}
