@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.create-notebook-entry {
  border-top: 3px solid $primary1;
  padding: 1rem;

  &__header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Antonio";
    font-size: 1.8rem;
  }

  &__button {
    @include button-icon;
  }
}

.add-notebook-form {
  display: flex;

  &__input {
    width: 100%;
    margin-right: 1rem;
    @include input-field;
  }

  &__button {
    background-image: URL("../../assets/images/save.svg");
    @include button-icon;
  }
}
