@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.list-items {
  &__item {
    line-height: 1.6rem;

    &--true {
      line-height: 1.6rem;
      text-decoration: line-through;
    }
  }
}
