@use "../../styles/partials/variables" as *;

.header {
  padding: 0.5rem;
  border-bottom: 3px solid $primary1;
  background-color: $primary2;

  &__logo {
    text-decoration: none;
    font-family: "Bimbo";
    font-size: 2rem;
    color: black;
    transform: rotate(-2deg);
    margin-left: 0.5rem;
  }
}

a {
  text-decoration: none;
}
