@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  position: sticky;
  top: 0px;

  @include tablet {
    margin: 1rem 0 0rem 0;
  }

  @include desktop {
    margin: 0rem 0rem 0rem 0rem;
    padding-top: 1rem;
    width: 304px;
    text-align: center;
    // box-shadow: 1px 1px 10px #f5f5f5;
  }

  &__border {
    border-top: 3px solid $primary1;
  }

  &__logo {
    font-family: "Bimbo";
    font-size: 2rem;
    transform: rotate(-2deg);
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;

    @include tablet {
      font-size: 1.5rem;
      margin-left: 1.5rem;
    }

    @include desktop {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
  }
}

a {
  text-decoration: none;
}
