@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notebook {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    margin: 1rem;
    color: $primary1;
    font-size: 1.8rem;
  }

  &__button-delete {
    background-image: url("../../assets/images/delete.svg");
    @include button-icon;
  }

  &__button-edit {
    background-image: url("../../assets/images/edit.svg");
    margin-right: 1rem;
    @include button-icon;
  }

  &__button-save {
    background-image: url("../../assets/images/save.svg");
    margin-right: 1rem;
    @include button-icon;
  }
}
