@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notebook {
  &__delete-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 1rem;
    color: $primary1;
    font-size: 1.8rem;
  }

  &__button-delete {
    background-image: url("../../assets/images/trash-black.svg");
    @include button-icon-white;
    margin-right: 1rem;
  }

  &__button-edit {
    background-image: url("../../assets/images/edit-black.svg");
    margin-right: 1rem;
    @include button-icon-white;
  }

  &__button-save {
    background-image: url("../../assets/images/save-black.svg");
    margin-right: 1rem;
    @include button-icon-white;
  }
}

.notebook-edit-form {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;

  &__input {
    @include input-field;
  }
}
