@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notebook {
  // why doesn't this work?????
  overflow-y: auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      margin-left: 1rem;
    }
  }

  &__wrapper-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin: 1rem;
    color: $primary1;
    font-size: 1.2rem;

    @include desktop {
      text-align: left;
    }

    &--highlight {
      @include hover1;
    }
  }

  &__title:hover {
    @include hover1;
  }

  &__button-delete {
    background-image: url("../../assets/images/trash-black.svg");
    @include button-icon-white;
    margin-right: 1rem;
  }

  &__button-edit {
    background-image: url("../../assets/images/edit-black.svg");
    margin-right: 1rem;
    @include button-icon-white;
  }

  &__button-save {
    background-image: url("../../assets/images/save-black.svg");
    margin-right: 1rem;
    @include button-icon-white;
  }

  &__error {
    @include error-message-form;
    margin-left: 1rem;
  }

  // &__icons {
  //   display: flex;
  // }

  &__icon {
    width: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  &__icon:hover {
    filter: brightness(0) saturate(100%);
    cursor: pointer;
  }

  &__form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
  }
}

.notebook-edit-form {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;

  &__input {
    @include input-field;
  }
}
