@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-edit-list {
  text-align: center;
  min-height: 100vh;

  &__done-button {
    @include button;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
