@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-list {
  display: flex;
  overflow: auto;
  max-height: 100vh;
  width: 100%;

  &__nav-desktop-wrapper {
    position: sticky;
    top: 0rem;
    padding-right: 1rem;
    min-height: 100vh;
    background-color: $primary2;
    box-shadow: 1px 1px 10px #f7f7f7;

    @include tablet {
      width: 14rem;
    }

    @include desktop {
      width: 20rem;
    }
  }

  &__nav {
    @include nav;
  }

  &__main {
    margin: 4rem 4rem 2rem 4rem;
    flex-grow: 1;
    text-align: center;

    @include desktop {
      margin: 5rem 13rem 5rem 13rem;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__done-button {
    @include button;
  }

  &__whitespace {
    height: 1rem;

    @include desktop {
      height: 4rem;
    }
  }
}
