@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.list-detail {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
}

.tracker {
  margin-top: 8rem;

  &__title {
    font-size: 1rem;
    color: black;

    @include tablet {
      margin-top: 0rem;
    }

    @include desktop {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }

  &__item {
    margin-left: -1.7rem;
    line-height: 1.6rem;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    width: 0.8rem;
    margin-left: 0.2rem;
    padding-top: 0rem;
  }
}

.bottom-navigation-mobile {
  position: sticky;
  bottom: 0px;

  @include desktop {
    display: none;
  }
}

.bottom-navigation-desktop {
  display: none;

  @include desktop {
    display: inline;
    margin-top: auto;
  }
}
