@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notebook-navigation {
  @include bottom-navigation;

  &__icon-plus {
    width: 1.8rem;
    margin-bottom: 0.6rem;
  }
}

.home-navigation {
  @include bottom-navigation;
  height: 3.2rem;

  &__image-plus {
    margin-top: -0.3rem;
    width: 1.8rem;
  }

  &__image {
    width: 1.8rem;
  }
}

.list-bottom-navigation {
  @include bottom-navigation;

  &__button-delete {
    background-image: url("../../assets/images/delete.svg");
    @include button-icon-white;
    background-color: black;
    margin-bottom: 0.6rem;
    width: 1.8rem;
  }

  &__button-edit {
    width: 1.8rem;
    margin-bottom: -1.3rem;
  }
}
