@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.notebook-navigation {
  @include bottom-navigation;
  padding-top: 0.45rem;

  &__icon-plus {
    width: 1.8rem;

    @include desktop {
      display: none;
    }
  }
}

.home-navigation {
  @include bottom-navigation;
  padding-top: 0.7rem;

  @include desktop {
    padding-bottom: 4.5rem;
  }

  &__image-plus {
    margin-top: -0.3rem;
    width: 1.8rem;

    @include desktop {
      display: none;
    }
  }

  &__image-plus-desktop {
    display: none;

    @include desktop {
      display: inline;
      width: 2.5rem;
    }
  }

  &__image {
    width: 1.8rem;

    @include desktop {
      display: none;
    }
  }

  &__image-desktop {
    display: none;

    @include desktop {
      display: inline;
      width: 2.5rem;
    }
  }

  overscroll-behavior: none;
  width: 100%;
}

.list-bottom-navigation {
  @include bottom-navigation;
  padding-top: 0.4rem;

  &__button-delete {
    background-image: url("../../assets/images/delete.svg");
    @include button-icon-white;
    background-color: black;
    background-size: 1.8rem;
    margin-bottom: 0.6rem;
    width: 1.8rem;
  }

  &__button-edit {
    width: 1.8rem;
    margin-bottom: -1.3rem;
  }
}
