.bottom-nav {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  text-align: center;
  position: sticky;
  bottom: 0px;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font-size: 0.8rem;
  border-top: 3px solid black;
}
@media screen and (min-width: 768px) {
  .bottom-nav {
    border-top: none;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .bottom-nav {
    padding-bottom: 1.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .bottom-nav {
    flex-direction: column;
  }
}
.bottom-nav__wrapper {
  width: 100%;
  display: flex;
  justify-items: start;
  margin-left: 1rem;
}
@media screen and (min-width: 1024px) {
  .bottom-nav__wrapper {
    margin-left: 2rem;
  }
}
.bottom-nav__a {
  width: 100%;
  margin-bottom: 0.5rem;
}
.bottom-nav__text {
  color: #b1b1b1;
  font-weight: 700;
  font-style: italic;
  margin-top: 0.1rem;
}
.bottom-nav .bottom-nav__a:hover .bottom-nav__image-plus-desktop {
  filter: brightness(0) saturate(100%); /* Change SVG color to black */
}
.bottom-nav .bottom-nav__a:hover .bottom-nav__text {
  color: black; /* Change text color to black */
}
.bottom-nav__image-plus-desktop {
  display: none;
  display: inline;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.bottom-nav .home-navigation__a:hover .home-navigation__image-plus-desktop {
  filter: brightness(0) saturate(100%); /* Change SVG color to black */
}
.bottom-nav .home-navigation__a:hover .home-navigation__text {
  color: black; /* Change text color to black */
}
.bottom-nav__image {
  width: 1.8rem;
}
@media screen and (min-width: 1024px) {
  .bottom-nav__image {
    display: none;
  }
}
.bottom-nav__image-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .bottom-nav__image-desktop {
    display: inline;
    width: 2rem;
  }
}

.list-bottom-navigation {
  background-color: white;
  text-align: center;
  position: sticky;
  bottom: 0px;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font-size: 0.8rem;
  border-top: 3px solid black;
  padding-top: 0.4rem;
}
@media screen and (min-width: 768px) {
  .list-bottom-navigation {
    border-top: none;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation {
    padding-bottom: 1.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation {
    margin-bottom: 1rem;
  }
}
.list-bottom-navigation__button-delete-mobile {
  background-image: url("../../assets/images/delete.svg");
  background-color: white;
  background-size: 0.9rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  flex-shrink: 0;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  background-size: 1.8rem;
  margin-bottom: 0.6rem;
  width: 1.8rem;
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation__button-delete-mobile {
    background-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation__button-delete-mobile {
    display: none;
  }
}
.list-bottom-navigation__button-delete-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation__button-delete-desktop {
    display: inline;
    background-image: url("../../assets/images/trash-black.svg");
    background-color: white;
    background-size: 0.9rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .list-bottom-navigation__button-delete-desktop {
    background-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
.list-bottom-navigation__button-edit-mobile {
  width: 1.8rem;
  margin-bottom: -1.3rem;
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation__button-edit-mobile {
    display: none;
  }
}
.list-bottom-navigation__button-edit-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .list-bottom-navigation__button-edit-desktop {
    display: inline;
    width: 2rem;
    margin-top: 0.3rem;
  }
}/*# sourceMappingURL=BottomNavigation.css.map */