@use "./styles/partials/typography";
@use "./styles/partials/resets";

.app {
  background-image: url("../src/assets/images/dotgridpage.png");
  background-repeat: repeat;
  background-size: 170%;
  background-attachment: fixed;
}

input {
  font-family: "Courier New", Courier, monospace;
}
