@use "./styles/partials/typography";
@use "./styles/partials/resets";
@use "./styles/partials/mixins" as *;

.app {
  --dot-bg: white;
  --dot-color: lightgrey;
  --dot-size: 1.5px;
  --dot-space: 16px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  background-attachment: fixed;

  @include tablet {
    --dot-size: 1.5px;
    --dot-space: 16px;
  }

  @include desktop {
    --dot-size: 2px;
    --dot-space: 22px;
  }
}
