@use "./styles/partials/typography";
@use "./styles/partials/resets";

.app {
  background-image: url("../src/images/dotgridpage.png");
  background-repeat: repeat;
  height: 100vh;
  background-size: 170%;
}
